<%= render "devise/shared/error_messages", resource: resource %>
<div class="devise_container text-center">
  <div class="border border-success rounded w-25 mx-auto mt-4 text-success">
    <div>ログインせずに使える機能</div>
    <div class="small">映画/レビュー/ユーザー 一覧ページ</div>
    <div class="small">映画検索機能</div>
  </div>
  <h2 class="mt-4">ログイン</h2>

  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="field form-group">
      <%= f.label "Name(半角英数字, 10文字まで)" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field form-group">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>


  <%= link_to " Googleでログイン", user_google_oauth2_omniauth_authorize_path, class:"fab fa-google btn btn-primary" %>
  <%= link_to " Facebookでログイン", user_facebook_omniauth_authorize_path, class:"fab fa-facebook btn btn-primary" %>
</div>